<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ve.com.seguridadsistema.clubamerica" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logov4"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
        >
        <activity
            android:name=".InicioActivity"
            android:label="@string/title_activity_inicio" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name=".ConsultaActivity"
            android:theme="@style/AppTheme"
            android:label="@string/title_activity_consulta"
            android:parentActivityName=".MainActivity" >
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity
            android:name=".Acercade"
            android:theme="@style/AppTheme"
            android:label="@string/title_activity_acercade"
            android:parentActivityName=".MainActivity" >
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity
            android:name=".Contactenos"
            android:theme="@style/AppTheme"
            android:label="@string/title_activity_contactenos"
            android:parentActivityName=".MainActivity" >
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity
            android:name=".Sugerencia"
            android:theme="@style/AppTheme"
            android:label="@string/title_activity_sugerencia"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ve.com.seguridadsistema.clubamerica.MainActivity" />
        </activity>
    </application>

</manifest>
